<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.iqa.mapper.AgreeMapper">
  <resultMap id="BaseResultMap" type="com.xjtu.iqa.po.Agree">
    <id column="AGREEID" jdbcType="VARCHAR" property="AGREEID" />
    <result column="COMMUNITYANSWERID" jdbcType="VARCHAR" property="COMMUNITYANSWERID" />
    <result column="USERID" jdbcType="VARCHAR" property="USERID" />
    <result column="TOUSERID" jdbcType="VARCHAR" property="TOUSERID" />
    <result column="TIME" jdbcType="VARCHAR" property="TIME" />
    <result column="ISNOTICE" jdbcType="INTEGER" property="ISNOTICE" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    AGREEID, COMMUNITYANSWERID, USERID, TOUSERID, TIME, ISNOTICE
  </sql>
  <select id="selectByExample" parameterType="com.xjtu.iqa.po.AgreeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_agree
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_agree
    where AGREEID = #{AGREEID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_agree
    where AGREEID = #{AGREEID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xjtu.iqa.po.Agree">
    insert into tbl_agree (AGREEID, COMMUNITYANSWERID, USERID, 
      TOUSERID, TIME, ISNOTICE
      )
    values (#{AGREEID,jdbcType=VARCHAR}, #{COMMUNITYANSWERID,jdbcType=VARCHAR}, #{USERID,jdbcType=VARCHAR}, 
      #{TOUSERID,jdbcType=VARCHAR}, #{TIME,jdbcType=VARCHAR}, #{ISNOTICE,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xjtu.iqa.po.Agree">
    insert into tbl_agree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="AGREEID != null">
        AGREEID,
      </if>
      <if test="COMMUNITYANSWERID != null">
        COMMUNITYANSWERID,
      </if>
      <if test="USERID != null">
        USERID,
      </if>
      <if test="TOUSERID != null">
        TOUSERID,
      </if>
      <if test="TIME != null">
        TIME,
      </if>
      <if test="ISNOTICE != null">
        ISNOTICE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="AGREEID != null">
        #{AGREEID,jdbcType=VARCHAR},
      </if>
      <if test="COMMUNITYANSWERID != null">
        #{COMMUNITYANSWERID,jdbcType=VARCHAR},
      </if>
      <if test="USERID != null">
        #{USERID,jdbcType=VARCHAR},
      </if>
      <if test="TOUSERID != null">
        #{TOUSERID,jdbcType=VARCHAR},
      </if>
      <if test="TIME != null">
        #{TIME,jdbcType=VARCHAR},
      </if>
      <if test="ISNOTICE != null">
        #{ISNOTICE,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjtu.iqa.po.Agree">
    update tbl_agree
    <set>
      <if test="COMMUNITYANSWERID != null">
        COMMUNITYANSWERID = #{COMMUNITYANSWERID,jdbcType=VARCHAR},
      </if>
      <if test="USERID != null">
        USERID = #{USERID,jdbcType=VARCHAR},
      </if>
      <if test="TOUSERID != null">
        TOUSERID = #{TOUSERID,jdbcType=VARCHAR},
      </if>
      <if test="TIME != null">
        TIME = #{TIME,jdbcType=VARCHAR},
      </if>
      <if test="ISNOTICE != null">
        ISNOTICE = #{ISNOTICE,jdbcType=INTEGER},
      </if>
    </set>
    where AGREEID = #{AGREEID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjtu.iqa.po.Agree">
    update tbl_agree
    set COMMUNITYANSWERID = #{COMMUNITYANSWERID,jdbcType=VARCHAR},
      USERID = #{USERID,jdbcType=VARCHAR},
      TOUSERID = #{TOUSERID,jdbcType=VARCHAR},
      TIME = #{TIME,jdbcType=VARCHAR},
      ISNOTICE = #{ISNOTICE,jdbcType=INTEGER}
    where AGREEID = #{AGREEID,jdbcType=VARCHAR}
  </update>
</mapper>