<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.iqa.mapper.CurrentConfigureMapper">
  <resultMap id="BaseResultMap" type="com.xjtu.iqa.po.CurrentConfigure">
    <id column="CURRENTCONFIGUREID" jdbcType="VARCHAR" property="CURRENTCONFIGUREID" />
    <result column="EQUIPMENTID" jdbcType="VARCHAR" property="EQUIPMENTID" />
    <result column="CONFIGUREVERSION" jdbcType="VARCHAR" property="CONFIGUREVERSION" />
    <result column="CONFIGURENAME" jdbcType="VARCHAR" property="CONFIGURENAME" />
    <result column="CONFIGURETYPE" jdbcType="VARCHAR" property="CONFIGURETYPE" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CURRENTCONFIGUREID, EQUIPMENTID, CONFIGUREVERSION, CONFIGURENAME, CONFIGURETYPE
  </sql>
  <select id="selectByExample" parameterType="com.xjtu.iqa.po.CurrentConfigureExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_currentconfigure
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_currentconfigure
    where CURRENTCONFIGUREID = #{CURRENTCONFIGUREID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_currentconfigure
    where CURRENTCONFIGUREID = #{CURRENTCONFIGUREID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xjtu.iqa.po.CurrentConfigure">
    insert into tbl_currentconfigure (CURRENTCONFIGUREID, EQUIPMENTID, 
      CONFIGUREVERSION, CONFIGURENAME, CONFIGURETYPE
      )
    values (#{CURRENTCONFIGUREID,jdbcType=VARCHAR}, #{EQUIPMENTID,jdbcType=VARCHAR}, 
      #{CONFIGUREVERSION,jdbcType=VARCHAR}, #{CONFIGURENAME,jdbcType=VARCHAR}, #{CONFIGURETYPE,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xjtu.iqa.po.CurrentConfigure">
    insert into tbl_currentconfigure
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="CURRENTCONFIGUREID != null">
        CURRENTCONFIGUREID,
      </if>
      <if test="EQUIPMENTID != null">
        EQUIPMENTID,
      </if>
      <if test="CONFIGUREVERSION != null">
        CONFIGUREVERSION,
      </if>
      <if test="CONFIGURENAME != null">
        CONFIGURENAME,
      </if>
      <if test="CONFIGURETYPE != null">
        CONFIGURETYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="CURRENTCONFIGUREID != null">
        #{CURRENTCONFIGUREID,jdbcType=VARCHAR},
      </if>
      <if test="EQUIPMENTID != null">
        #{EQUIPMENTID,jdbcType=VARCHAR},
      </if>
      <if test="CONFIGUREVERSION != null">
        #{CONFIGUREVERSION,jdbcType=VARCHAR},
      </if>
      <if test="CONFIGURENAME != null">
        #{CONFIGURENAME,jdbcType=VARCHAR},
      </if>
      <if test="CONFIGURETYPE != null">
        #{CONFIGURETYPE,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjtu.iqa.po.CurrentConfigure">
    update tbl_currentconfigure
    <set>
      <if test="EQUIPMENTID != null">
        EQUIPMENTID = #{EQUIPMENTID,jdbcType=VARCHAR},
      </if>
      <if test="CONFIGUREVERSION != null">
        CONFIGUREVERSION = #{CONFIGUREVERSION,jdbcType=VARCHAR},
      </if>
      <if test="CONFIGURENAME != null">
        CONFIGURENAME = #{CONFIGURENAME,jdbcType=VARCHAR},
      </if>
      <if test="CONFIGURETYPE != null">
        CONFIGURETYPE = #{CONFIGURETYPE,jdbcType=VARCHAR},
      </if>
    </set>
    where CURRENTCONFIGUREID = #{CURRENTCONFIGUREID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjtu.iqa.po.CurrentConfigure">
    update tbl_currentconfigure
    set EQUIPMENTID = #{EQUIPMENTID,jdbcType=VARCHAR},
      CONFIGUREVERSION = #{CONFIGUREVERSION,jdbcType=VARCHAR},
      CONFIGURENAME = #{CONFIGURENAME,jdbcType=VARCHAR},
      CONFIGURETYPE = #{CONFIGURETYPE,jdbcType=VARCHAR}
    where CURRENTCONFIGUREID = #{CURRENTCONFIGUREID,jdbcType=VARCHAR}
  </update>
</mapper>