<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjtu.iqa.mapper.PayMapper">
  <resultMap id="BaseResultMap" type="com.xjtu.iqa.po.Pay">
    <id column="PAYID" jdbcType="VARCHAR" property="PAYID" />
    <result column="PAYUSERID" jdbcType="VARCHAR" property="PAYUSERID" />
    <result column="BEPAYUSERID" jdbcType="VARCHAR" property="BEPAYUSERID" />
    <result column="TIME" jdbcType="VARCHAR" property="TIME" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PAYID, PAYUSERID, BEPAYUSERID, TIME
  </sql>
  <select id="selectByExample" parameterType="com.xjtu.iqa.po.PayExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'false' as QUERYID,
    <include refid="Base_Column_List" />
    from tbl_pay
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tbl_pay
    where PAYID = #{PAYID,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tbl_pay
    where PAYID = #{PAYID,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xjtu.iqa.po.Pay">
    insert into tbl_pay (PAYID, PAYUSERID, BEPAYUSERID, 
      TIME)
    values (#{PAYID,jdbcType=VARCHAR}, #{PAYUSERID,jdbcType=VARCHAR}, #{BEPAYUSERID,jdbcType=VARCHAR}, 
      #{TIME,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xjtu.iqa.po.Pay">
    insert into tbl_pay
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="PAYID != null">
        PAYID,
      </if>
      <if test="PAYUSERID != null">
        PAYUSERID,
      </if>
      <if test="BEPAYUSERID != null">
        BEPAYUSERID,
      </if>
      <if test="TIME != null">
        TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="PAYID != null">
        #{PAYID,jdbcType=VARCHAR},
      </if>
      <if test="PAYUSERID != null">
        #{PAYUSERID,jdbcType=VARCHAR},
      </if>
      <if test="BEPAYUSERID != null">
        #{BEPAYUSERID,jdbcType=VARCHAR},
      </if>
      <if test="TIME != null">
        #{TIME,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xjtu.iqa.po.Pay">
    update tbl_pay
    <set>
      <if test="PAYUSERID != null">
        PAYUSERID = #{PAYUSERID,jdbcType=VARCHAR},
      </if>
      <if test="BEPAYUSERID != null">
        BEPAYUSERID = #{BEPAYUSERID,jdbcType=VARCHAR},
      </if>
      <if test="TIME != null">
        TIME = #{TIME,jdbcType=VARCHAR},
      </if>
    </set>
    where PAYID = #{PAYID,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xjtu.iqa.po.Pay">
    update tbl_pay
    set PAYUSERID = #{PAYUSERID,jdbcType=VARCHAR},
      BEPAYUSERID = #{BEPAYUSERID,jdbcType=VARCHAR},
      TIME = #{TIME,jdbcType=VARCHAR}
    where PAYID = #{PAYID,jdbcType=VARCHAR}
  </update>
</mapper>